.hero .container .brand img {
    width: 200px;
    background-color: #F9F9F9;
    padding: 20px;
    margin: 45px;
}

.hero .container .form {
    float: right;
    width: 500px;
    margin-top: -70px;
}
.form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.form > form > input, textarea, button {
    font-weight: bold;
    font-size: medium;
    padding: 5px 5px;
    margin: 10px 5px;
    border-radius: 15px;
}

.carousel > .slides > .slide > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

/* -----------------------------------------++++++++++++++++++++++++++++++++++++++++++--------------------------------------------- */

/* accordion */
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
/* accordion */

/* --------------------++++++++++++++++++++-------------------- */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* RESPONSIVE */
@media (min-width: 320px) and (max-width: 480px) /*Mobile devices*/ {
    body {
      background-color: red;
      width: 100%;
      margin: 2px;
      padding: 2px;
    }
    .hero .container .brand img {
        width: 150px;
        background-color: #F9F9F9;
        padding: 2px 1px;
        margin: 5px 1px;
    }
    .hero .container .form {
        float: right;
        width: 300px;
        margin-top: -60px;
        margin-right: -90px;
    }
    .cards {
        flex-direction: column;
    }
    .tri-sec > .mid > img {
        width: 85px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
    }
}
@media (min-width: 481px) and (max-width: 768px) /*iPads, Tablets*/ {
    /* body {
      background-color: greenyellow;
    } */
    .hero .container .brand img {
        width: 150px;
        padding: 10px 0;
        margin: 10px 0;
    }
    .hero .container .form {
        float: right;
        width: 300px;
        margin-right: -80px;
    }
    .cards > .tri-sec {
        flex-direction: row;
    }
    .cards {
        flex-direction: row;
    }
    .tri-sec > .mid > img {
        width: 225px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) /*Small screens, laptops*/ {
    /* body {
      background-color: skyblue;
    } */
    .hero .container .form {
        float: right;
        width: 300px;
        margin-top: -90px;
    }
    .tri-sec > .mid > img {
        width: 360px;
        height: 760px;
    }
    .cards {
        flex-direction: row;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) /*Extra large screens, TV*/ {
    /* body {
      background-color: yellow;
    } */
    .hero .container .form {
        float: right;
        width: 400px;
        margin-top: -90px;
    }
    .tri-sec > .mid > img {
        width: 360px;
    }
    .cards {
        flex-direction: row;
    }
}
@media (min-width: 1441px) /*UHD screen*/ {
    /* body {
      background-color: pink;
    } */
    .hero{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        background: url(../images/dr.vis.jpg) top left;
        background-size: cover;
    }
    .tri-sec > .mid > img {
        width: 400px;
    }
    .cards {
        flex-direction: row;
    }
}
/* RESPONSIVE */